#pusher {
	@include transition(transform 1s,opacity 0.5s);
	@include transform-style(preserve-3d);
	//padding:5px;
	padding-right:0;
	img {
		max-width:100%;
	}
	//border:2px solid fuchsia;

}
#innerPusher {
	@include boxShadow1();	
	background:#fff;
	position: relative;
	padding:15px;
	height:100%;
	overflow:scroll;	
}

#pusher.open {
    @include transform(translate3d(10%, 0, 0) rotateY(-30deg) scale3d(0.7,0.7,1));
    //@include transform(scale3d(0.7,0.7,0.7));
	@include opacity(0.8);
}